@media screen and (min-width: 970px) {
  ::selection {
    background-color: #02b3e4;
    color: #fff;
  }

  ::-moz-selection {
    background-color: #02b3e4;
    color: #fff;
  }

  /*** TOP ***/
  /* Ribbon */
  .ribbon {
    height: 75px;
    height: 10vw;
  }

  /*** CONTENT ***/
  .portfolio {
    margin: -75px 0 0 0;
    margin: -10vw 0 0 0;
  }
}
