body {
  background-color: #f5f5f5;
  font-size: 17px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*** TOP ***/
/* Navigation */
body > header {
  background-color: #1c262f;
  color: #fff;
  padding-bottom: 10px;
}

/* Logo */
h1 {
  letter-spacing: -1px;
  text-shadow: 0 2px 0 #000;
}

h1 span {
  color: #02b3e4;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.dropdown-menu {
  font-size: 17px;
}

/* Nav link */
.nav > li > a,
.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #33424e;
  border-bottom: 2px solid #1b1b1b;
  border-radius: 10px;
  color: #fff;
}

/* Ribbon */
.jumbotron {
  background-color: #2e3d49;
  background-image: radial-gradient(rgba(255,255,255,0.1), #2e3d49);
  color: #fff;
  margin: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4), 0 2px 1px rgba(0,0,0,0.5);
}

.jumbotron small {
  color: #02b3e4;
}

.jumbotron p {
  color: #c5cae9;
  font-weight: 300;
}

.ribbon {
  height: 150px;
  height: 20vw;
}

/*** CONTENT ***/
.portfolio {
  margin: -150px 0 0 0;
  margin: -20vw 0 0 0;
  padding: 0;
}

/* Project */
article {
  background-color: white;
  border-bottom: 1px solid #cdd0d2;
  border-radius: 10px;
  margin: 0 0 50px 0;
}

article footer,
article p {
  padding: 5px 10px;
}

article footer {
  border-top: 1px dotted #e0e0e0;
}

article footer p {
  margin: 0;
}

article footer a {
  margin-left: 15px;
}

/* Project title */
h3 {
  font-weight: bold;
}

/* Project cover picture */
.project .cover img {
  border-radius: 10px 10px 0 0;
}

.project .cover figcaption {
  padding: 0 10px;
}

.carousel-control.left {
  border-radius: 10px 0 0 0;
}

.carousel-control.right {
  border-radius: 0 10px 0 0;
}

/* Project tags */
.tags span {
  background-color: #eee;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  color: rgba(0,0,0,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,1);
}

.tags span:hover {
  background-color: #dedede;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.tags .tag-bootstrap.active,
.tags .tag-css.active,
.tags .tag-html.active,
.tags .tag-js.active,
.tags .tag-postgre.active,
.tags .tag-python.active,
.tags .tag-foundation.active,
.tags .tag-knockoutjs.active
.tags .tag-flask.active {
  text-shadow: 0 1px 0 rgba(255, 255, 255,0.15);
}

.tags .tag-html.active {
  background-color: #f16528;
}

.tags .tag-css.active {
  background-color: #23a9dc;
}

.tags .tag-js.active {
  background-color: #fcc127;
}

.tags .tag-python.active {
  background-color: #21aae1;
}

.tags .tag-bootstrap.active {
  background-color: #7f5db5;
}

.tags .tag-postgre.active {
  background-color: #048dc1;
}

.tags .tag-foundation.active {
  background-color: #12a7c7;
}

.tags .tag-knockoutjs.active {
  color: #fff;
  background-color: #c41301;
}

.tags .tag-flask.active {
  color: #fff;
  background-color: #000;
}

footer p a.btn {
  padding: 0;
}
